[Unit]
Description=Enable Securonis IP spoofing protection in /etc/host.conf

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set-hostconf.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
